################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pvp_td/FileContentIndex
/.vs/pvp_td/v17
/.vs/pvp-td_0.0.1/FileContentIndex
/.vs
